<form id="loginForm" action="/node/<%= host %>/<%= port %>" target="_blank">
    <!--<input type="hidden" name="username" value="test">-->
    <!--<input type="hidden" name="password" value="123">-->
    <button class="btn btn-primary" type="submit">
        <i class="fa fa-registered"></i> Connect to WEHI Local GPT
    </button>
</form>
<!-- <a href="/node/<%= host %>/<%= port %>/">Connect to GPT</a> -->